@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');

body{
    background-color: #1E2538 ;
    color: white;
    /* overflow-x: hidden; */
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    margin-bottom: 50px;
    border-bottom: 1.5px solid rgb(255, 255, 255);
    padding: 0; 
}

.page-main-title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin: 0 0 5px 70px; 
    padding: 10px 0; 
    font-size: 1.875rem;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* section-1 */
.hero-background {
    width: 1140px;
    height: 480px;
    background-color: #986352;
    position: relative;
}

.section-1 {
    position: absolute;
}

.sec-1-common{
    display: inline-block;
    position: relative;
}

.row-1{
    position: relative;
    left: 110px;
}
.row-1-part-1{
    top: 55px;
    margin-right: 25px;
}
.row-1-part-1 > h2{
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.1;
    max-width: 351px;
}

.row-1-part-2{
    height: 516px;
    width: 584px;
    top: 55px;
    box-shadow:0 0 20px 0 rgba(41,43,51,0.5)
}

.row-2{
    position: relative;
    top: 60px;
    left: 110px;
}

.row-2-part-1 > h3{
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.1;
    margin:0;
}

.row-2-part-1 > ol{
    font-family: 'Open Sans',sans-serif;
    font-size: 1.1rem;
    padding-left: 20px;
    line-height: 1.6;
    margin-top: 30px;
}

.row-2-part-2{
    top: 20px;
    left: 115px;
}

.row-2-part-2 > .img-container {
    width: 239px; 
    height: 259px;
    overflow: hidden;
    position: relative;
    display:inline-block;
}

.row-2-part-2 > .para{
 width: 295px;
vertical-align:top;
 display:inline-block;
 font-style: italic;
 font-family: 'Open Sans', sans-serif;
 line-height: 1.8;
 font-size: 1.1rem;
 margin:0 0 0 20px;
}

.para > p{
    margin: 0;
}


































/* images */
.img1{
    height: 306px;
    width:351px;
    object-fit: cover;
    
}
.img2{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img3 {
    width: auto;
    height: 100%;
    object-fit: cover;
   }
.img4{
    height: 469px;
    width: 581px;
    object-fit: cover;
    position: relative;
    left: 140px;
    bottom: 110px;
    z-index: 3;
}
.img5{
    position: relative;
    right: 250px;
    height: 600px;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    transform: scale(1.2);
}
.img6{
    height: 564px;
    width: 945px;
    object-fit: cover;
    position: relative;
    left: 80px;
    top: 120px;
    transform: scale(1.0);
    z-index: 1;
}
.img7{
    height: 565px;
    width: 438px;
    object-fit: cover;
    position:relative;
}
.img8{
    height: 546px;
    width: 435px;
    object-fit: cover;
}