@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');
body{
    background-color: #1E2538 ;
    color: white;
    overflow-x: hidden;
}


.sec-7-bg{
    background-color: #986352;
    height: 530px;
    width: 420px;
    /* position: relative;
    left: 210px;
    bottom: 470px;
    z-index: 2; */
}
.section-7 h1{
    font-family: 'Playfair Display', serif;
    font-size:3rem;
    font-weight: 400;
    /* position: relative;
    left: 120px; */
}
.section-7 p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    width: 420px;
    /* position: relative;
    left: 700px;
    bottom: 1200px; */
}
.img7{
    height: 565px;
    width: 438px;
    object-fit: cover;
    /* position: relative;
    z-index: 3;
    left: 120px; */
}
.img8{
    height: 546px;
    width: 435px;
    object-fit: cover;
    /* position: relati ve; */
    bottom: 1350px;
    left: 700px;
}








































































.section-6{
    margin-bottom: 40rem;
}
.sec-6-bg{
    width: 850px;
    height: 500px;
    background-color: #986352;
}

.sec-6-box-1 {
    display: flex;
    align-items: center;
    width: 380px;
    height: 380px;
    background-color: #1e2538;
    z-index: 3;
    position: relative;
    left: 100px;
    bottom: 60px;
}
.sec-6-box-1-content {
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #986352;
    height: 320px;
    width: 320px;
    margin: 0 auto;
}
.sec-6-box-1-content p {
    color: #996242;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    margin: 10px;
}
.sec-6-box-2{
    width: 480px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    z-index: 2;
    position: relative;
    left: 700px;
    bottom: 600px;
}
.sec-6-box-2-content{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 25px 0 25px;
    border: 1px solid #986352;
}
.sec-6-box-2-content h2{
    color: #996252;
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
    font-weight: 400;
    margin:0px 0px 34px 0px;
}
.sec-6-box-2-content p{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    margin:0px 10px 40px 10px;
}
.sec-6-box-2-content a{
    color: #996242;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    border: 1px solid #986352;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 12px;
    text-align: center;
    margin: 0;
}

.img6{
    height: 564px;
    width: 945px;
    object-fit: cover;
    position: relative;
    left: 80px;
    top: 120px;
    transform: scale(1.0);
    z-index: 1;
}
