@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');
body{
    background-color: #1E2538 ;
    color: white;
    overflow-x: hidden;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    margin-bottom: 50px;
    border-bottom: 1.5px solid rgb(255, 255, 255);
    padding: 0; 
}

.page-main-title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin: 0 0 5px 50px; 
    padding: 10px 0; 
    font-size: 1.875rem;
}

/* font stylings section-1*/
.row-1-part-1 h2, .row-2-part-1 h3{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 100;
}

.hero-background {
    width: 1140px;
    height: 480px;
    background-color: #986352;
    position: relative;
}

/* section-1 */
.section-1 {
  position: absolute;
}

.sec-1-common{
    display: inline-block;
}
.row-1-part-1 h2 {
    max-width: 351px;
}
.row-2-part-1 > h3{
    margin:0;
}
.row-2-part-1 > ol{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    padding-left: 20px;
    margin-top: 0;
}

.row-2-part-2 > .para{
 vertical-align:top;
 width: 259px;
 display:inline-block;
 font-style: italic;
 font-family: 'Open Sans', sans-serif;
 line-height: 1.7rem;
 font-size: 16px;
 margin-left:20px;
}
.row-2-part-2 > .img-container {
 width: 239px; 
 height: 259px;
 overflow: hidden;
 position: relative;
 display:inline-block;
}

.img3 {
 width: auto;
 height: 100%;
 object-fit: cover;
}































/* images */
.img1{
    height: 306px;
    width:351px;
    object-fit: cover;
}
.img2{
    height: 508px;
    width: 518px;
    object-fit: cover;
}
.img3 {
    width: auto;
    height: 100%;
    object-fit: cover;
   }
.img4{
    height: 469px;
    width: 581px;
    object-fit: cover;
    position: relative;
    left: 140px;
    bottom: 110px;
    z-index: 3;
}
.img5{
    position: relative;
    right: 250px;
    height: 600px;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    transform: scale(1.2);
}
.img6{
    height: 564px;
    width: 945px;
    object-fit: cover;
    position: relative;
    left: 80px;
    top: 120px;
    transform: scale(1.0);
    z-index: 1;
}
.img7{
    height: 565px;
    width: 438px;
    object-fit: cover;
    position:relative;
}
.img8{
    height: 546px;
    width: 435px;
    object-fit: cover;
}