.parent{
background-color: rgb(13, 133, 180);
}

.child-one {
    background-color: rgb(25, 227, 42);
    position: absolute;

}

.child-two{
    background-color: rgb(227, 116, 25);
}

.child-three{
    background-color: rgb(244, 30, 201);
}

.child{
    padding: 5px;
}

div{
    display: block;
}