@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');
body{
    background-color: #1E2538 ;
    color: white;
}

.page-main-title{
    font-family: 'Playfair Display', serif;
    font-weight: 100;
}
/* font preference for column-1 of section-1 */
.col-1-part-1 h2, .col-2-part-1 h3{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 100;
}

.hero-background {
    width: 90%;
    height: 480px;
    background-color: #986352;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.section-1 {
    position: absolute;
    top: 150px;
    left: 190px;
    z-index: 3;
}

.column-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
} 
.column-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:25px;
}
    
.col-1-part-1 h2 {
    max-width: 351px;
}

.col-2-part-1 h3{
    margin:0;
}

.col-2-part-1 ol{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    padding-left: 20px;
    margin-top: 20px;
}

.col-2-part-2{
    display: flex;   
    position: relative;
    left: 5px;
}

.col-2-part-2 , p{
    width: 550px;
    line-height: 1.7rem;
    margin: 0 15px 0 15px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

.section-2 {
    margin-top: 30%; 
}

.section-3 {
    padding-top: 50px; 
}






/* images */
.img1{
    height: 306px;
    width:351px;
    object-fit: cover;
}
.img2{
    height: 508px;
    width: 560px;
    object-fit: cover;
    /* position: relative;
    left: 50px; */
}
.img3{
    height: 240px;
    width: 261px;
    object-fit: cover;
    /* position:relative;
    left: 405px;
    bottom: 150px; */
}
.img4{
    height: 469px;
    width: 581px;
    object-fit: cover;
    /* position: relative;
    z-index: 1; */
}
.img6{
    height: 564px;
    width: 945px;
    object-fit: cover;
}
.img7{
    height: 565px;
    width: 438px;
    object-fit: cover;
    /* position: relative;
    top: 70px; */
}
.img8{
    height: 546px;
    width: 435px;
    object-fit: cover;
    /* position: relative;
    bottom: 80px;
    left: 60px; */
}

/* sections */
