@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');
body{
    background-color: #1E2538 ;
    color: white;
    overflow-x: hidden;

}

.page-main-title{
    font-family: 'Playfair Display', serif;
    font-weight: 100;
}
/* font stylings section-1*/
.row-1-part-1 h2, .row-2-part-1 h3{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 100;
}

.hero-background {
    width: 90%;
    height: 480px;
    background-color: #986352;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
/* section-1 */
.section-1 {

    align-items: center;
    position: absolute;
    top: 150px;
    left: 190px;
    z-index: 3;
}
.row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
} 
.row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
    
.row-1-part-1 h2 {
    max-width: 351px;
}

.row-2-part-1 h3{
    margin:0;
}

.row-2-part-1 ol{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    padding-left: 20px;
    margin-top: 0;
}

.row-2-part-2{
    display: flex;   
    position: relative;
    left: 50px;
}

.row-2-part-2 {
    width: 550px;
    margin: 0 15px 0 15px;
    
}
.row-2-part-2 p{
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7rem;
    font-size: 16px;
    width: 240px;
    margin-left: 15px;
}
/* end of section-1 */

/* section-2 */

.section-2{
    margin-top: 30rem;
    margin-bottom: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;	
}
.section-2-data h3{
    font-size: 2.25rem;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.section-2-data p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 30px;
}
.section-2-data {
    border: 4px solid #986352;
    display: inline-block;
    margin: 25px auto;
    padding: 40px 30px;
    position: relative;
    width: 770px;
}
/* .section-2-data p, .section-2-data h3 {
  position: relative;
  display: block;
  z-index: 5;
}
.section-2-data::before,
.section-2-data::after {
  content: '';
  position: absolute;
  background: #1E2538;
}

.section-2-corner::before {
  width: calc(100% + 50px + 4px - 120px);
  height: calc(100% + 4px);
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.section-2-corner::after {
  height: calc(100% + 50px + 4px - 120px);
  width: calc(100% + 4px);
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}  */

/* end of section-2 */

/* section-3 */

.section-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20rem;
    margin-bottom: 12rem;
}
.sec-3-bg{
    /* position: relative;
    right: 5px; */
    width: 500px;
    height: 705px;
    background-color: #986352;
    z-index: 2;
}
.sec-3-white-box{
    width: 480px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    z-index: 4;
    position: relative;
    left: 80px;
    bottom: 320px;
}

.white-box-content{
    border: 1px solid #986352;
    padding: 35px 30px 35px 30px; 
    margin: 0 25px 0 25px;
}
.white-box-content h2{
    color: #996252;
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
    font-weight: 400;
    margin:30px 0 50px 0;
}
.white-box-content p{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 40px;
}
.white-box-content a{
    color: #996242;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    border: 1px solid #986352;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 12px;
    text-align: center;
    margin: 0;
}
.sec-3-part-2{
    margin-right: 40px;
} 
.sec-3-part-2 h3{
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
    font-weight: 400;
}
.sec-3-part-2 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.9rem;
}
.sec-3-part-2 ol{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-top: 30px;
    padding-left: 20px;
}

/* end of section-3 */

/* section-4 */

.section-4{
    display: flex;
    width: 100%;
    margin-bottom: 20rem;
}
.icon-boxes{
    z-index: 3;
    left: 45px;
    position: relative;
    background-color: #1E2538;
    width: 570px;
    height: 580px;
}
.icon-box1 svg,.icon-box2 svg,.icon-box3 svg,.icon-box4 svg{
    height: 60px;
}

.icon-box1, .icon-box2, .icon-box3, .icon-box4{
    border: 1px solid #4F597A;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7rem;
    font-size: 16px;
    width: 14rem;
    padding: 25px 10px;
    text-align: center;
    justify-content:center;
    margin: 15px;
}
.icon-boxes-wrap-1{
    display: flex;
    margin-top: 25px;
}
.icon-boxes-wrap-2{
    display: flex;
    margin-bottom: 25px;
}
.sec-4-bg{
    position: relative;
    left: 235px;
    width: 500px;
    height: 705px;
    background-color: #986352;
    z-index: 1;
}
.sec-4-bg{
    display: flex;
    flex-direction: row;
}
.sec-4-bg span{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;   
    font-weight: 400;
    position: relative;
    right: 220px;
    top: 100px;
}
.sec-4-vertical-title{
    position: relative;
    left: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* end of section-4 */

/* section-5 */

.section-5{
    display: flex;
    flex-direction: column;
    margin: 0px 220px;
    margin-bottom: 10rem;
}
.section-5 h3{
    font-family: 'Playfair Display', serif;
    font-size: 1.875rem;
    font-weight: 400;
}
.section-5 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.9rem;
    padding: 0px 35px;
    position: relative;
    bottom: 25px;
}

.sec-5-wrap{
    display: flex;
    flex-direction: row;
}
.sec-5-clr-tag{
    height: 4px;
    width: 510px;
    background-color:#986352;
}

/* end of section-5 */

/* section-6 */
.sec-6-bg{
    width: 850px;
    height: 500px;
    background-color: #986352;
}

.sec-6-box-1{
    width: 480px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    z-index: 4;
    position: relative;
    left: 80px;
    bottom: 320px;
}

.sec-6-box-1-content{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 25px 0 25px;
    border: 1px solid #986352;
}
.sec-6-box-1-content h2{
    color: #996252;
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
    font-weight: 400;
    margin:0px 0px 34px 0px;
}
.sec-6-box-1-content p{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    margin:0px 10px 40px 10px;
}
.sec-6-box-1-content a{
    color: #996242;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    border: 1px solid #986352;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 12px;
    text-align: center;
    margin: 0;
}









/* images */
.img1{
    height: 306px;
    width:351px;
    object-fit: cover;
}
.img2{
    height: 508px;
    width: 518px;
    object-fit: cover;
    /* position: relative;
    left: 50px; */
}
.img3{
    height: 240px;
    width: 261px;
    object-fit: cover;
    /* position:relative;
    left: 405px;
    bottom: 150px; */
}
.img4{
    height: 469px;
    width: 581px;
    object-fit: cover;
    position: relative;
    left: 140px;
    bottom: 110px;
    z-index: 3;
}
.img5{
    position: relative;
    right: 250px;
    height: 600px;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    transform: scale(1.2);
}
.img6{
    height: 564px;
    width: 945px;
    object-fit: cover;
    position: relative;
    left: 80px;
    top: 120px;
    transform: scale(1.0);
}
.img7{
    height: 565px;
    width: 438px;
    object-fit: cover;
    /* position: relative;
    top: 70px; */
}
.img8{
    height: 546px;
    width: 435px;
    object-fit: cover;
    /* position: relative;
    bottom: 80px;
    left: 60px; */
}

.test{
    margin-top: 400px;
}